<!DOCTYPE html>
<html lang="{$language}">
{include 'inherite.latte', latte => 'admin-head.latte'}
    <body>
        {*
        <header>
            {include 'admin-navigation.latte'}
        </header>
        <div class="container-fluid row">
            {include 'admin-user-agendas.latte'}
        </div>
        *}
        {block htmlbody}{/block}
        
        <!-- footer -->
        <footer class="sticky-footer">&copy; WorkOfStan &amp; CRS2 {="All rights reserved."|translate}</footer>
        {if $authUser}{include 'inherite.latte', latte => 'admin-output-image-selector.latte'}{/if}
    {foreach $clientSideResources['js'] as $jsUri}
        <script type="text/javascript" src="{$jsUri}"></script>
    {/foreach}
        <script n:ifcontent>
            {$inlineJavaScript|noescape}
        </script>
    </body>
</html>
