<!DOCTYPE html>
<html lang="{$language}">
    {*block htmlhead}{/block*}
    {include 'admin-head.latte'}
    <body>
        {*
        <header>
            {include 'navigation.latte'}
        </header>
        <div class="container-fluid row">
            {include 'user-agendas.latte'}
        </div>
        *}
        {block htmlbody}{/block} 
    {foreach $clientSideResources['js'] as $jsUri}
        <script type="text/javascript" src="{$jsUri}"></script>
    {/foreach}
    <script type="text/javascript">{* todo only unempty *}
        {$inlineJavaScript}
    </script>
    </body>
</html>
