{* layout library version *}<!DOCTYPE html>
<html>
    <head>
        <title>Library only layout</title>
    </head>
    <body>
        Library layout - OK -
        layout where app version should be used instead of library version
        {block htmlbody}{/block}
    </body>
</html>
