{* layout library version *}<!DOCTYPE html>
<html>
    <head>
        <title>Library only layout</title>
    </head>
    <body>
        <h1>Library only layout</h1>
        layout of the library only version
        {block htmlbody}{/block}
    </body>
</html>
