{* layout where app version should be used instead of library version *}<!DOCTYPE html>
<html>
    <head>
        <title>Library layout should be overriden by app layout</title>
    </head>
    <body>
        <h1>Library layout - WRONG</h1>
        layout where app version should be used instead of library version
        {block htmlbody}{/block}
    </body>
</html>
