<?xml version="1.0" encoding="UTF-8"?>
<phpunit 
    colors="true"
    stderr="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    stopOnFailure="false"> 
    <testsuites> 
        <testsuite name="Application Test Suite">
            <directory>./classes/Test/</directory>
        </testsuite>
        <testsuite name="Distribution Test Suite">
            <directory>./dist/classes/Test/</directory>
        </testsuite>
    </testsuites> 
</phpunit>