# Invoked by GitHub super-linter PHPStan of library
# Invoked by locally installed PHPStan of library
parameters:
    excludePaths:
        analyse:
          - ../vendor
          # Phinx\Migration\AbstractMigration is not defined in mycms, only mycms/dist
          - ../dist/db/migrations/*.php
    bootstrapFiles:
      - config.php
      #- ../.github/linters/conf/constants.php # uncomment if needed
