parameters:
	ignoreErrors:
		-
			message: '#^Call to function is_a\(\) with iterable\<object\>&mysqli_result and ''\\\\mysqli_result'' will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: ../classes/LogMysqli.php

		-
			message: '#^Call to function is_array\(\) with array\<mixed\> will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: ../classes/LogMysqli.php

		-
			message: '#^Offset 1 on array\{list\<string\>, list\<string\>, list\<string\>\} in isset\(\) always exists and is not nullable\.$#'
			identifier: isset.offset
			count: 1
			path: ../classes/LogMysqli.php

		-
			message: '#^Call to function is_array\(\) with array\<string\> will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: ../classes/MyAdmin.php

		-
			message: '#^Call to static method Webmozart\\Assert\\Assert\:\:isArray\(\) with non\-empty\-array will always evaluate to true\.$#'
			identifier: staticMethod.alreadyNarrowedType
			count: 2
			path: ../classes/MyAdmin.php

		-
			message: '#^Method WorkOfStan\\MyCMS\\MyAdmin\:\:projectSpecificSectionsCondition\(\) should return string but returns false\.$#'
			identifier: return.type
			count: 1
			path: ../classes/MyAdmin.php

		-
			message: '#^Negated boolean expression is always true\.$#'
			identifier: booleanNot.alwaysTrue
			count: 1
			path: ../classes/MyAdmin.php

		-
			message: '#^Offset ''user'' on non\-empty\-array in isset\(\) always exists and is not nullable\.$#'
			identifier: isset.offset
			count: 2
			path: ../classes/MyAdmin.php

		-
			message: '#^Offset 0 on non\-empty\-list\<string\> in isset\(\) always exists and is not nullable\.$#'
			identifier: isset.offset
			count: 1
			path: ../classes/MyAdmin.php

		-
			message: '#^PHPDoc tag @return with type bool is incompatible with native type string\.$#'
			identifier: return.phpDocType
			count: 1
			path: ../classes/MyAdmin.php

		-
			message: '#^Call to static method Webmozart\\Assert\\Assert\:\:string\(\) with string and ''Expected a string\.…'' will always evaluate to true\.$#'
			identifier: staticMethod.alreadyNarrowedType
			count: 1
			path: ../classes/MyAdminProcess.php

#		-
#			message: '#^Parameter &\$post by\-ref type of method WorkOfStan\\MyCMS\\MyAdminProcess\:\:processClone\(\) expects array\<array\|string\>, array given\.$#'
#			identifier: parameterByRef.type
#			count: 1
#			path: ../classes/MyAdminProcess.php
#
#		-
#			message: '#^Parameter &\$post by\-ref type of method WorkOfStan\\MyCMS\\MyAdminProcess\:\:processClone\(\) expects array\<array\|string\>, array\<mixed\> given\.$#'
#			identifier: parameterByRef.type
#			count: 1
#			path: ../classes/MyAdminProcess.php
#
#		-
#			message: '#^Parameter &\$post by\-ref type of method WorkOfStan\\MyCMS\\MyAdminProcess\:\:processExport\(\) expects array\<array\|string\>, array given\.$#'
#			identifier: parameterByRef.type
#			count: 2
#			path: ../classes/MyAdminProcess.php
#
#		-
#			message: '#^Parameter &\$post by\-ref type of method WorkOfStan\\MyCMS\\MyAdminProcess\:\:processExport\(\) expects array\<array\|string\>, array\<mixed\> given\.$#'
#			identifier: parameterByRef.type
#			count: 1
#			path: ../classes/MyAdminProcess.php
#
#		-
#			message: '#^Parameter &\$post by\-ref type of method WorkOfStan\\MyCMS\\MyAdminProcess\:\:processSubfolder\(\) expects array\<array\|string\>, array\<mixed\> given\.$#'
#			identifier: parameterByRef.type
#			count: 1
#			path: ../classes/MyAdminProcess.php

		-
			message: '#^Call to function is_object\(\) with WorkOfStan\\MyCMS\\LogMysqli will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: ../classes/MyCMSMonoLingual.php

		-
			message: '#^Instanceof between Psr\\Log\\LoggerInterface and Psr\\Log\\LoggerInterface will always evaluate to true\.$#'
			identifier: instanceof.alwaysTrue
			count: 1
			path: ../classes/MyCMSMonoLingual.php

		-
			message: '#^Call to function is_array\(\) with array\<array\> will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: ../classes/MyTableAdmin.php

		-
			message: '#^Call to static method Webmozart\\Assert\\Assert\:\:keyExists\(\) with array\{id\: non\-empty\-string, class\: ''form\-control''\} and ''id'' will always evaluate to true\.$#'
			identifier: staticMethod.alreadyNarrowedType
			count: 1
			path: ../classes/MyTableAdmin.php

		-
			message: '#^Left side of && is always true\.$#'
			identifier: booleanAnd.leftAlwaysTrue
			count: 1
			path: ../classes/MyTableAdmin.php

		-
			message: '#^Variable \$query in empty\(\) always exists and is not falsy\.$#'
			identifier: empty.variable
			count: 1
			path: ../classes/MyTableAdmin.php

		-
			message: '#^Call to static method Webmozart\\Assert\\Assert\:\:isArray\(\) with array\<mixed\> will always evaluate to true\.$#'
			identifier: staticMethod.alreadyNarrowedType
			count: 1
			path: ../classes/MyTableLister.php

		-
			message: '#^Offset string on list in isset\(\) does not exist\.$#'
			identifier: isset.offset
			count: 1
			path: ../classes/MyTableLister.php

		-
			message: '#^Result of && is always false\.$#'
			identifier: booleanAnd.alwaysFalse
			count: 1
			path: ../classes/MyTableLister.php

		-
			message: '#^Right side of && is always true\.$#'
			identifier: booleanAnd.rightAlwaysTrue
			count: 2
			path: ../classes/MyTableLister.php

		-
			message: '#^Right side of \|\| is always false\.$#'
			identifier: booleanOr.rightAlwaysFalse
			count: 1
			path: ../classes/MyTableLister.php

		-
			message: '#^Strict comparison using \!\=\= between string and null will always evaluate to true\.$#'
			identifier: notIdentical.alwaysTrue
			count: 1
			path: ../classes/MyTableLister.php

		-
			message: '#^Ternary operator condition is always false\.$#'
			identifier: ternary.alwaysFalse
			count: 2
			path: ../classes/MyTableLister.php

		-
			message: '#^Function WorkOfStan\\MyCMS\\ThrowableFunctions\\preg_match\(\) never assigns null to &\$matches so it can be removed from the by\-ref type\.$#'
			identifier: parameterByRef.unusedType
			count: 1
			path: ../classes/ThrowableFunctions/ThrowablePHPFunctions.php

		-
			message: '#^Function WorkOfStan\\MyCMS\\ThrowableFunctions\\preg_match_all\(\) never assigns null to &\$matches so it can be removed from the by\-ref type\.$#'
			identifier: parameterByRef.unusedType
			count: 1
			path: ../classes/ThrowableFunctions/ThrowablePHPFunctions.php

		-
			message: '#^Function WorkOfStan\\MyCMS\\ThrowableFunctions\\preg_replace\(\) never assigns null to &\$count so it can be removed from the by\-ref type\.$#'
			identifier: parameterByRef.unusedType
			count: 1
			path: ../classes/ThrowableFunctions/ThrowablePHPFunctions.php

		-
			message: '#^Function WorkOfStan\\MyCMS\\ThrowableFunctions\\preg_replaceString\(\) never assigns null to &\$count so it can be removed from the by\-ref type\.$#'
			identifier: parameterByRef.unusedType
			count: 1
			path: ../classes/ThrowableFunctions/ThrowablePHPFunctions.php

		-
			message: '#^Parameter &\$matches by\-ref type of function WorkOfStan\\MyCMS\\ThrowableFunctions\\preg_match\(\) expects array\<string\>\|null, array\<list\<int\|string\|null\>\|string\|null\> given\.$#'
			identifier: parameterByRef.type
			count: 1
			path: ../classes/ThrowableFunctions/ThrowablePHPFunctions.php

		-
			message: '#^Parameter &\$matches by\-ref type of function WorkOfStan\\MyCMS\\ThrowableFunctions\\preg_match_all\(\) expects array\<string\>\|null, array\<mixed\> given\.$#'
			identifier: parameterByRef.type
			count: 1
			path: ../classes/ThrowableFunctions/ThrowablePHPFunctions.php

		-
			message: '#^Call to function is_array\(\) with array\<string, mixed\> will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: ../dist/Test/FaviconTest.php

		-
			message: '#^Call to function is_array\(\) with array\<string, mixed\> will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: ../dist/Test/FriendlyUrlTest.php

		-
			message: '#^Call to function is_array\(\) with array\<mixed\> will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: ../dist/admin.php

		-
			message: '#^Parameter \#2 \.\.\.\$args of function array_merge expects array, string given\.$#'
			identifier: argument.type
			count: 1
			path: ../dist/classes/Admin.php

		-
			message: '#^Binary operation "\*" between \-1\|1 and array\|string results in an error\.$#'
			identifier: binaryOp.invalid
			count: 1
			path: ../dist/classes/AdminProcess.php

		-
			message: '#^Binary operation "\+" between float\|int\|string\|null and array\|string results in an error\.$#'
			identifier: binaryOp.invalid
			count: 1
			path: ../dist/classes/AdminProcess.php

		-
			message: '#^Binary operation "\+" between non\-falsy\-string and array\|string results in an error\.$#'
			identifier: binaryOp.invalid
			count: 1
			path: ../dist/classes/AdminProcess.php

		-
			message: '#^Call to function is_array\(\) with array\<array\<mixed\>\|string\> will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: ../dist/classes/AdminProcess.php

		-
			message: '#^Offset 0 on non\-empty\-list\<string\> in isset\(\) always exists and is not nullable\.$#'
			identifier: isset.offset
			count: 1
			path: ../dist/classes/AdminProcess.php

		-
			message: '#^Parameter \#1 \$token of method WorkOfStan\\MyCMS\\MyCMSMonoLingual\:\:csrfCheck\(\) expects int, array\|string given\.$#'
			identifier: argument.type
			count: 1
			path: ../dist/classes/AdminProcess.php

		-
			message: '#^Call to function is_array\(\) with array\<mixed\> will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: ../dist/classes/App.php

		-
			message: '#^Comparison operation "\>\=" between 1 and 0 is always true\.$#'
			identifier: greaterOrEqual.alwaysTrue
			count: 1
			path: ../dist/classes/Mail.php

		-
			message: '#^Strict comparison using \=\=\= between false and false will always evaluate to true\.$#'
			identifier: identical.alwaysTrue
			count: 1
			path: ../dist/classes/Mail.php

		-
			message: '#^Call to function method_exists\(\) with WorkOfStan\\MyCMS\\LogMysqli and ''getStatementsError'' will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: ../dist/classes/MyCMSProject.php

		-
			message: '#^Call to function method_exists\(\) with WorkOfStan\\MyCMS\\Tracy\\BarPanelTemplate and ''setError'' will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: ../dist/classes/MyCMSProject.php

		-
			message: '#^Call to static method Webmozart\\Assert\\Assert\:\:integer\(\) with int and ''product MUST be…'' will always evaluate to true\.$#'
			identifier: staticMethod.alreadyNarrowedType
			count: 1
			path: ../dist/classes/ProjectSpecific.php

		-
			message: '#^Parameter &\$totalRows by\-ref type of method WorkOfStan\\mycmsprojectnamespace\\ProjectSpecific\:\:searchResults\(\) expects string\|null, array\<string\|null\>\|string\|null given\.$#'
			identifier: parameterByRef.type
			count: 1
			path: ../dist/classes/ProjectSpecific.php

		-
			message: '#^Call to function array_key_exists\(\) with ''mail_for_admin…'' and array\{logging_level\: 3, error_log_message_type\: 3, logging_file\: literal\-string&non\-falsy\-string, mail_for_admin_enabled\: false\} will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: ../dist/conf/config.php
