# TODO fix these old imperfections
includes:
      - ../phpstan-baseline.neon

parameters:
    excludePaths:
        analyse:
          - ../vendor
          # Phinx\Migration\AbstractMigration is not defined in mycms, only mycms/dist
          #- ../dist/db/migrations/*.php
    bootstrapFiles:
      - config.php
      #- ../.github/linters/conf/constants.php # (un)comment as needed
