/*
 * Base structure
 */
/* Move down content because we have a fixed navbar that is 50px tall */
html {
  position: relative;
  min-height: 100%;
}
body {
  padding-top: 50px;
  margin-bottom: 50px; /* Margin bottom by footer height */
}
pre {
  -moz-tab-size: 8; /* Firefox 4+ */
  -o-tab-size: 8; /* Opera 11.5 & 12.1 only */
  tab-size: 8; /* Chrome 21+, Safari 6.1+, Opera 15+ */
}
/*
 * Global add-ons
 */
.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}
/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

.btn-xs,
.btn-group-xs > .btn {
  padding: 0.2rem 0.2rem;
  font-size: 0.75rem;
  line-height: 1;
  border-radius: 0.2rem;
}
#navbar ul li a .fa,
#navbar ul li ul li a .fa {
  margin-right: 5px;
}
/*
 * Sidebar
 */
/* Hide for mobile, show later */
.sidebar {
  /*position: fixed;
    top: 51px;*/
  bottom: 0;
  left: 0;
  z-index: 1000;
  padding: 20px 0px;
  overflow-x: hidden;
  overflow-y: auto;
  border-right: 1px solid #eee;
}
.sidebar > ul.nav > li,
.sidebar > ul > li > a {
  display: inline;
  line-height: 2.6;
}
.sidebar > ul {
  margin: initial;
}
#agendas {
  font-size: 13px;
}
fieldset.form-context {
  padding: 1ex;
  border: 1px solid silver;
  margin-bottom: 1ex;
}

table.database input[type="number"] {
  width: 7em;
  text-align: right;
}

table.database {
  width: 100%;
}
table.database td {
  vertical-align: top;
}
table.database td:nth-child(3) {
  width: 100%;
}

table.table-admin > tbody > tr > td:nth-child(1) > a {
  position: relative;
  left: 0.2ex;
  top: -2px;
}
form.table-controls > fieldset {
  display: inline-block;
  border: 1px solid #ddd;
  padding: 0 12px 1ex 15px;
  vertical-align: top;
}
form.table-controls > fieldset > div > label {
  font-weight: normal;
}
form.table-controls > fieldset:last-child {
  margin-bottom: 15px;
}

form.table-controls > fieldset > legend {
  font-size: 100%;
  display: inline;
  border: none;
  width: initial;
  margin: 0;
}
form.table-controls > fieldset > *[data-toggle="tooltip"] {
  margin-right: 5px;
}
form.table-controls > fieldset > *[data-toggle="tooltip"]:last-child {
  margin-right: 0;
}
form.table-controls > fieldset select {
  line-height: 1;
  padding: 0 0.6ex;
  height: 1.8em;
  border: 1px solid #ccc;
  border-radius: 4px;
}

ul.pagination li:first-child a.non-page {
  border-top: none;
  border-bottom: none;
  border-left: none;
}
ul.pagination li:last-child a.non-page {
  border-top: none;
  border-bottom: none;
  border-right: none;
}
ul.pagination li a.non-page:hover {
  background: none;
}
ul.nav.nav-sidebar.tables li {
  display: inline;
}
/* Sidebar navigation */
.nav-sidebar {
  margin: 1ex -20px 20px -21px;
}
.nav-sidebar > li > a {
  padding-right: 10px;
  padding-left: 10px;
}
.nav-sidebar > li > a .glyphicon,
.nav-sidebar > li > a .fa,
.form-actions .glyphicon,
.form-actions .fa {
  margin-right: 1ex;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}
/*
 * Main content
 */
.mainbar {
  padding: 20px;
}
.mainbar .page-header {
  margin-top: 0;
}
.footer {
  background: yellow !important;
  border-top: 1px solid silver;
  padding-top: 2em;
}
/*
 * Placeholder dashboard ideas
 */
.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}
.form-actions button {
  margin-right: 1em;
}
input[type="checkbox"].input-null {
  margin-right: 0.5ex;
}
input[name="upload-media"] {
  margin: 1em auto 2em auto;
}
#media-files {
  font-size: 85%;
  line-height: 1;
  margin-top: 1em;
}
#files-div input[type="file"] {
  margin: 0.5ex 0;
}
#search-results {
  position: absolute;
}
#search-results div {
  position: relative;
  top: 2.6em;
  background: white;
  border: 1px solid silver;
  border-radius: 4px;
  color: black;
  width: 20em;
  line-height: 1.5;
  overflow: hidden;
  padding: 0.5em 0;
}
#search-results div p {
  padding: 0;
  margin: 0;
  white-space: nowrap;
}
#search-results div p a {
  display: block;
  line-height: 1.1;
  overflow: hidden;
  text-overflow: ellipsis;
  text-decoration: none;
  padding: 0.4em 0.8em;
  font-size: 90%;
}
#search-results div p:hover {
  background: #eee;
}
.pagination a {
  padding-left: 1ex;
  padding-right: 1ex;
}
.detailed-tables a {
  font-size: 80%;
}
.listing-group .active,
.detailed-tables a.active {
  background: #ffc;
}
.insipid {
  color: silver;
}
.inactive {
  color: #888;
}
.fit-content {
  width: fit-content;
  height: fit-content;
}
body > div.container-fluid {
  padding-bottom: 1em;
}

.sticky-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px; /* Set the fixed height of the footer here */
  vertical-align: bottom;
  background-color: #f5f5f5;
  padding-left: 42%;
  font-size: 0.8rem;
  color: #ccc;
}

fieldset.input-expanded {
  padding: 0.5rem 0.75rem;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
}
.AdminRecordName {
  font-weight: normal;
  /*margin-left: 1em;*/
  color: #ff8400; /* complementary color for #007bff */
}
.w-initial {
  width: initial;
}
.lh-1 {
  line-height: 1;
}
/* Media queries */
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px 2px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
  ul.nav.nav-sidebar.tables li {
    display: block;
  }
  .mainbar {
    padding-right: 40px;
    padding-left: 40px;
  }
}
